@page
@model WeatherArchivePreview.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Главная страница</title>
</head>
<body>
<div>
    <button onclick="window.location.href = '/View?page=0&year_filter=None&month_filter=None'">Просмотр архивов погодных условий в городе Москве</button>
    <button onclick="window.location.href = '/Upload'">Загрузка архивов погодных условий в городе Москве</button>
</div>
</body>
</html>